@charset "UTF-8";
/* CSS Document */

/* fäger
	Primär: #82ccdd;
	Primär?: #60a3bc
	sekundär: #079992

	Grå
		ljus: #eeeeee;
		mellan-ljus: #dedede;
		mellan mörk: #8a8a8a;
		Mörk: #5a5a5a;
	
*/

h1,h2,h3,h4,h5,h6{
	font-family: 'Playfair Display', serif !important;
	color: #60a3bc;
}

p, ul, li a{
	font-family: 'Roboto', sans-serif  !important;
	color: #5a5a5a;
}

body{
	overflow-x: hidden;
}

img{
	width: 100%;
	height: auto;
}

a:hover{
	color: #60a3bc !important;
}



/****************Styling av header**************/
#masthead{
	max-width: 1366px;
	min-width: 320px;
	width: 95%;
	position: relative;
	overflow: hidden;
}

.logo-box{
	width: 40%;
}

.logo-box img{
	width: 100%;
	height: auto;
}

.menu{
	position: absolute;
	bottom: 1.5em;
	right: 0;
}

header nav ul li{
	display: inline-block;
}

nav a{
	font-size: 0.9em;
}



/******Hero section styling*******/

#site-header {
    margin: 0 -20px;
	/*max-width: 100%;
	height: auto;*/
	position: relative;
}

.on-hero{
	position: absolute;
	padding: 1em;
	top: 0;
	width: 100%;
}

.on-hero-img{
	width: 30%;
	display: inline-block;
}

.on-hero-text{
	float: right;
	width: 50%;
	margin: 0 2em;
}

.on-hero-text h2{
	line-height: 1em;
	font-size: 2em;
}



/***********Start sida**********/

div.the-content{
	margin: 4em auto !important;
	display: grid;
}

.start-section a{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}

.book-section{
	background-color: #eeeeee;
	margin: 0 -9999rem;
  	padding: 8em 9999rem;
}

.book-section h2{
	font-size: 2em;
    text-align: center;
    line-height: 1.1em;
    margin: 0 auto 1em auto;
    border-bottom: 1px solid;
    display: table;
}

.book-grid{
	display: grid;
	grid-gap: 4em;
	padding: 1em 3em;
}

.a-book a{
	opacity: 1;
	transition: opacity .3s;
}

.a-book a:hover{
	opacity: 0.8;
}

.a-book h3{
	font-family: 'Roboto', sans-serif !important;
	font-size: 1.5em;
	line-height: 1;
    margin-top: 0.5em;
}

.a-book p{
	font-size: 0.9em;
	color: #8a8a8a;
}




/************************Styling of footer*************/
footer{
	background-color: #60a3bc;
	margin: 0 -9999rem;
  	padding: 8em 9999rem;
}

.site-footer{
	display: grid;
	grid-gap: 2em;
	padding: 2em;

}

.footer-box {
    padding: 4em;
}

.footer-box h1, .footer-box h2, .footer-box h3, .footer-box h4, .footer-box h5, .footer-box h6{
	color: #5a5a5a;
	font-family: 'Roboto', sans-serif !important;
	margin-bottom:0.3em;
}

.footer-box a, .footer-box p{
	color: #ffffff;
	margin-bottom: 0.5em;
}

.footer-box a:hover{
	color: #82ccdd !important;
}

.footer-box ul{
	list-style: none;
	margin: 0;
}



/************Media  query  styling******************/
@media only screen and (min-width: 460px){
	.on-hero{
		padding: 2em;
	}
	.on-hero-text{
		margin: 2em 3em 0 0;
	}
	
	.on-hero-text h2{
		line-height: 1em;
		font-size: 3em;
	}
	
	
	/*******Footer*******/
	.site-footer{
		grid-template-columns: 48% 48%;
		grid-gap: 4%;
		padding: 2em 3em;
		text-align: left;
	}
}

@media only screen and (min-width: 600px){
	
	nav li a:hover::after {
		width: 100%;
	}
	
	nav li a::after {
		content: '';
		display: block;
		width: 0%;
		height: 1px;
		background: #60a3bc;
		transition: width .3s;
		margin-top: -4px;
	}
}
	
	
	/*******start styling*********/
	div.the-content{
		grid-template-columns: 49% 49%;
    	grid-gap: 2%;
	}
	
	
	@media only screen and (min-width: 700px) {
	
	.book-grid{
		grid-template-columns: auto auto auto;
		padding: 1em 0;
	}
		
	.a-book h3{
		font-size: 1.1em;
	}
}



@media only screen and (min-width: 750px) {
	.logo-box{
		width: 20%;
	}
	
	.book-grid{
		grid-template-columns: auto auto auto;
	}
}