@charset "UTF-8";
/* CSS Document */

/* fäger
	Primär: #82ccdd;
	Primär?: #60a3bc
	sekundär: #079992

	Grå
		ljus: #eeeeee;
		mellan-ljus: #dedede;
		mellan mörk: #8a8a8a;
		Mörk: #5a5a5a;
	
*/
html{
	height: 100%
}
body{
	min-height: 100%;
	display: grid;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Playfair Display', serif !important;
	color: #60a3bc;
}

p, ul, li a{
	font-family: 'Roboto', sans-serif  !important;
	color: #5a5a5a;
}

.main-fluid{
	max-width: 1400px;
	padding: 0;
}
.overflow{
	overflow-x: hidden;
}

#content{
	padding: 0 20px;
}

img{
	width: 100%;
	height: auto;
}

a:hover{
	color: #60a3bc !important;
}



/****************Styling av header**************/
#masthead{
	max-width: 1400px;
	min-width: 320px;
	width: 95%;
	position: relative;
	overflow: hidden;
}

.logo-box{
	width: 40%;
}

.logo-box img{
	width: 100%;
	height: auto;
}

.menu{
	position: absolute;
	bottom: 1.5em;
	right: 0;
}

/*responsive menu*/
#responsive-menu-wrapper{
	margin-top: 30% !important;
}

header nav ul li{
	display: inline-block;
}

nav a{
	font-size: 1.6em;
}



/******Hero section styling*******/

#site-header {
    margin: 0 -20px;
	position: relative;
}

.on-hero{
	position: absolute;
	padding: 1em;
	top: 0;
	left: 3%;
	width: 100%;
	display: grid;
    grid-template-columns: 40% 50%;
}

.on-hero-img{
	width: 50%;
}

.on-hero-text h2{
	line-height: 1em;
	font-size: 2.5em;
}

.on-hero-text p{
	font-size: 1.5em;
}


/***********Start sida**********/

div.the-content{
	margin: 6em 2em 8em !important;
	display: grid;
}

.start-section p {
    font-size: 1.5em;
}

.start-section a{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}

.start-section-img{
	margin-top: 2em;
}

.book-section{
	background-color: #eeeeee;
	margin: 0 -9999rem;
  	padding: 8em 9999rem;
}

.book-section-in-div{
	width:  60%;
	margin: 0  auto;
}

.book-section h2, .all-books h2, .top-list-section h2, .kontakt-title{
	font-size: 3.2em !important;
    text-align: center;
    line-height: 1.2em !important;
    margin: 0 auto 1em auto;
    border-bottom: 1px solid;
    display: table;
	color: #60a3bc !important;
}

h2.news-section {
    font-size: 2em !important;
}

.book-grid{
	display: grid;
	grid-gap: 4em;
	padding: 1em 3em;
}

.a-book a, .a-book a img{
	opacity: 1;
	transition: opacity .3s;
}

.a-book a:hover, .a-book a:hover img {
	opacity: 0.6;
}

.a-book h3{
	font-family: 'Roboto', sans-serif !important;
	font-size: 1.5em;
	line-height: 1;
    margin: 0.5em 0 0.3em 0;
}

.start-section p, .first-section p, .error-text-box p, .forfattare {
	font-size: 1.3em !important;
	color: #5a5a5a;
}

.a-book p{
	font-size: 1.2em;
}


/*********************Styling of all books page********************/
.all-books{
	background-color: transparent;
	padding-top: 3em;
	margin-bottom: 8em;
}

.all-books-grid{
	display: grid;
    column-gap: 4%;
    padding: 0;
    grid-template-columns: 48% 48%;
}

.all-single-book{
	margin-bottom: 4%;
}

.all-books h2, .top-list-section h2{
	margin-bottom: 2em;
}



/*************************styling of topplistan******************/
.top-list-section {
	padding-top: 3em;
	margin: 0 0 13em 0;
}

.top-list-grid {
    display: grid;
    grid-gap: 5em;
}

.top-list-innerdiv{
	display: grid;
	grid-gap: 2em;
}

.top-list-innerdiv-img {
    width: 60%;
    margin: 0 auto;
}



/************************Styling of single-post page*************/

.the_book{
	display: grid;
	margin: 6em 0;
}

.the_book p{
	font-size: 1.4em;
    margin-top: 0.5em;
}

.single-book-img{
	width: 50%;
	margin: 0 auto;
}
.single-book-info{
	margin-top:  2em;
}

.single-book-title-box{
	text-align: center;
	margin-bottom: 4em;
}

.single-book-title-box h1{
	line-height: 1.2em !important;
	font-size: 2.2em !important;
}
.single-book-title-box p{
	font-size: 1.5em;
}

.single-content{
	margin: 0 0 2em 0;
}

.book-info {
    background-color: #82ccdd;
    padding: 2em ;
}

.book-info p {
    color: #ffffff;
    font-size: 1.4em;
    margin-bottom: 1em;
}

.book-info p:last-child{
	margin-bottom: 0;
}




/**********************Styling of Kontakt*****************/
.form {
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.form-btn, .wpforms-form button[type=submit]{
	border: 1px solid #60a3bc !important;
    padding: 1em 2em !important;
    font-size: 1.2em !important;
    background-color: #60a3bc !important;
    transition: background 0.3s;
    color: #ffffff !important;
    border-radius: 3px !important;
}

.form-btn:hover, .wpforms-form button[type=submit]:hover{
	background-color: transparent !important;
	color: #60a3bc !important;
}


/*************************styling of 404*******************/
.error-box{
	text-align: center;
    margin: 0 auto;
    margin-bottom: 10em;
}

.error-text-box{
	margin: 0 0 10em 0;
}

.error-text-box p.error-text {
    font-size: 13em !important;
    color: #b1cfde;
    margin-bottom: 0;
	line-height: 1;
}

.error-text-box a{
	/*border: solid 1px #82ccdd;
	padding: 1em 2em;*/
	font-size: 1.5em;
}

.error-btn {
    display: inline-block;
    /*margin-right: 3em;*/
}

.error-btn:nth-last-child {
    margin-right: 0em;
}

.error-btn p {
    border: 1px solid #60a3bc;
    padding: 0.5em 1.5em;
    font-size: 1.2em !important;
    background-color: #60a3bc;
    transition: background 0.3s;
	color: #ffffff;
	border-radius: 3px;
}

.error-btn p:hover{
	background-color: transparent;
	color: #60a3bc;
	
}



/************************Styling of footer*************/
footer{
	background-color: #60a3bc;
	margin: 0 -9999rem;
  	padding: 8em 9999rem;
	grid-column: 1/-1;
	margin-top: auto !important;
}

.site-footer{
	display: grid;
	grid-gap: 2em;
	padding: 2em;
}

.footer-box {
    padding: 2em;
}

.footer-box h1, .footer-box h2, .footer-box h3, .footer-box h4, .footer-box h5, .footer-box h6{
	color: #5a5a5a;
	font-family: 'Roboto', sans-serif !important;
	margin-bottom:0.3em;
}
.footer-box h4{
	font-size: 1.5em;
}

.footer-box a, .footer-box p{
	color: #ffffff;
	margin-bottom: 0.5em;
	font-size: 1.2em;
}

.footer-box a:hover{
	color: #82ccdd !important;
}

.footer-box ul{
	list-style: none;
	margin: 0;
}



/************Media  query  styling******************/
@media only screen and (min-width: 460px){
	.on-hero{
		padding: 2em;
	}
	.on-hero-text{
		margin: 2em 3em 0 0;
	}
	
	.on-hero-text h2{
		line-height: 1em;
		font-size: 3em;
	}
	
	/*******Footer*******/
	.site-footer{
		grid-template-columns: 48% 48%;
		grid-gap: 4%;
		padding: 2em 3em;
		text-align: left;
	}
}


@media only screen and (min-width: 479px){
	p, ul, li a{
		/*font-size: 1.4em !important;*/
	}

	.start-section a{
		font-size: 1.6em;
	}
	
	h2.news-section {
		font-size: 2.5em !important;
	}
	
	
	.a-book h3{
		font-size: 1.9em;
	}
	
	
	.forfattare , .start-section p, .first-section p, .error-text-box p {
		font-size: 1.6em !important;
	}
	
	.a-book p {
		font-size: 1.4em;
	}
}
@media only screen and (min-width: 480px){
	.error-btn:nth-child(1) {
		margin-right: 2em;
	}
}

@media only screen and (min-width: 600px){
	
	nav li a:hover::after {
		width: 100%;
	}
	
	nav li a::after {
		content: '';
		display: block;
		width: 0%;
		height: 1px;
		background: #60a3bc;
		transition: width .3s;
		margin-top: 0px;
	}
	
		/*******start styling*********/
	
	.on-hero-text h2{
		font-size: 4em;
	}
	
	.on-hero-text p{
		font-size: 1.5em;
	}
	
	div.the-content{
		grid-template-columns: 40% 56%;
    	grid-gap: 4%;
	}
	
	.start-section-img{
		margin-top: 0em;
	}
	
	/*Single page styling*/
	.the_book{
		margin: 6em 0 14em 0;
		grid-template-columns: 35% 61%;
    	grid-gap: 4%;
	}
	
	.single-book-img{
		width: 100%;
	}
	
	.single-book-info{
		margin-top: 0;
	}
	
	.single-book-title-box{
		margin-bottom: 2em;
	}
	
	.single-book-title-box h1{
		font-size: 3em !important;
		line-height: 1.2em !important;
	}
}

@media only screen and (min-width: 640px){
	.all-books-grid{
		grid-template-columns: 30% 30% 30%;
		grid-column-gap: 5%;
	}
	
	.top-list-innerdiv{
		grid-template-columns: 40% 56%;
		grid-gap: 4%;
	}
	.top-list-innerdiv-img {
		width: 100%;
	}
	
	.error-box{
		width: 70%;
	}
}
	

@media only screen and (min-width: 700px) {
	
	.book-section-in-div{
		width: 70%;
	}
	
	.book-grid{
		grid-template-columns: 30% 30% 30%;
		padding: 1em 0;
		grid-gap: 4.5%;
	}
	
	.start-section p, .first-section p, .error-text-box p {
		font-size: 1.5em;
	}
	
	
	/*Single book*/
	.single-book-title-box p{
		font-size: 1.7em;
	}
}



@media only screen and (min-width: 750px) {
	.logo-box{
		width: 20%;
	}
	
	.on-hero-text{
		margin: 6em 3 0 0;
	}
	
	.on-hero-text h2{
		font-size: 5em;
	}
	
	.on-hero-text p{
		font-size: 2em;
		margin-top: 1em;
	}
	
	.a-book p{
		font-size: 1.5em;
	}
	
	.all-books-grid{
		grid-template-columns: 20% 20% 20% 20%;
    	grid-column-gap: 6.5%;
		max-width: 1000px;
    	margin: 0 auto;
	}
	
	.all-books-grid .a-book h3{
		font-size: 1.8em;
	}
	.all-books-grid .forfattare, .forfattare{
		font-size: 1.6em !important;
	}
	
	/**Single book page****/
	.single-content p, .book-info p {
		font-size: 1.5em;
		line-height: 1.4em;
	}
	
	
	/****Topplistan********/
	.top-list-innerdiv{
		grid-template-columns: 30% 64%;
	}
	
	.top-list-innerdiv-img{
		width: 80%;
	}
	/********Kontakt*******/
	.first-section p {
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 900px) {
	.top-list-grid{
		width: 80%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1000px) {
	.on-hero-text {
		margin: 6em 3em 0 0;
	}
	
	.on-hero-text h2{
		font-size: 6em;
	}
	
	/***Topplist styling******/
	.top-list-grid{
		width: 70%;
	}
	/*.top-list-innerdiv{
		grid-template-columns: 30% 40%;
	}
	.top-list-innerdiv-img{
		width: 50%;
	}*/
	
	
	/*****Single page styling******/
	.the_book{
		grid-template-columns: 30% 60%;
    	grid-gap: 5%;
		width: 80%;
		margin: 6em auto;
	}

}